/* CSS HEX */
--burnt-rose: #8e3b46ff;
--vibrant-coral: #ff715bff;
--platinum: #e8e9ebff;
--soft-linen: #e0dfd5ff;
--gunmetal: #313638ff;

/* CSS HSL */
--burnt-rose: hsla(352, 41%, 39%, 1);
--vibrant-coral: hsla(8, 100%, 68%, 1);
--platinum: hsla(220, 7%, 92%, 1);
--soft-linen: hsla(55, 15%, 86%, 1);
--gunmetal: hsla(197, 7%, 21%, 1);

/* SCSS HEX */
$burnt-rose: #8e3b46ff;
$vibrant-coral: #ff715bff;
$platinum: #e8e9ebff;
$soft-linen: #e0dfd5ff;
$gunmetal: #313638ff;

/* SCSS HSL */
$burnt-rose: hsla(352, 41%, 39%, 1);
$vibrant-coral: hsla(8, 100%, 68%, 1);
$platinum: hsla(220, 7%, 92%, 1);
$soft-linen: hsla(55, 15%, 86%, 1);
$gunmetal: hsla(197, 7%, 21%, 1);

/* SCSS RGB */
$burnt-rose: rgba(142, 59, 70, 1);
$vibrant-coral: rgba(255, 113, 91, 1);
$platinum: rgba(232, 233, 235, 1);
$soft-linen: rgba(224, 223, 213, 1);
$gunmetal: rgba(49, 54, 56, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8e3b46ff, #ff715bff, #e8e9ebff, #e0dfd5ff, #313638ff);
$gradient-right: linear-gradient(90deg, #8e3b46ff, #ff715bff, #e8e9ebff, #e0dfd5ff, #313638ff);
$gradient-bottom: linear-gradient(180deg, #8e3b46ff, #ff715bff, #e8e9ebff, #e0dfd5ff, #313638ff);
$gradient-left: linear-gradient(270deg, #8e3b46ff, #ff715bff, #e8e9ebff, #e0dfd5ff, #313638ff);
$gradient-top-right: linear-gradient(45deg, #8e3b46ff, #ff715bff, #e8e9ebff, #e0dfd5ff, #313638ff);
$gradient-bottom-right: linear-gradient(135deg, #8e3b46ff, #ff715bff, #e8e9ebff, #e0dfd5ff, #313638ff);
$gradient-top-left: linear-gradient(225deg, #8e3b46ff, #ff715bff, #e8e9ebff, #e0dfd5ff, #313638ff);
$gradient-bottom-left: linear-gradient(315deg, #8e3b46ff, #ff715bff, #e8e9ebff, #e0dfd5ff, #313638ff);
$gradient-radial: radial-gradient(#8e3b46ff, #ff715bff, #e8e9ebff, #e0dfd5ff, #313638ff);
